In [12]:
import pandas as pd
import numpy as np

### Task 1
Install and run though the basic operations of NUMPY. Once you have tried these, look at some of the operations we didn't cover. Try:

Split() Sort() Filter()

Check W3 schools for guidance on any of these: (https://www.w3schools.com/python/numpy/default.asp)

In [ ]:
# Split() = Split an array into multiple sub-arrays as views into ary.
# Sort() = Return a sorted copy of an array.
# Filter() = Return elements chosen from x or y depending on condition.

In [3]:
exercise_df = pd.read_csv("/Users/Kieran/Documents/Projects/personal/ual_peckham_daz/data_science/session_7/files/exercise_data.csv")
moma_df = pd.read_csv("/Users/Kieran/Documents/Projects/personal/ual_peckham_daz/data_science/session_7/files/moma_artworks_1000.csv")

# Task 2
Data cleaning exercise
- Empty cells
- Data in wrong format
- Wrong data
- Duplicates

In [23]:
# Task 2a: Replace empty cells with median.

# exercise_df.dropna(inplace = True)
# Note: dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame.
cal_median = exercise_df["Calories"].median()
exercise_df["Calories"].fillna(cal_median, inplace = True)

/var/folders/70/nwp36t1x5cs_z_7xqgkk67_c0000gn/T/ipykernel_11048/4129301947.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  exercise_df["Calories"].fillna(cal_median, inplace = True)

In [ ]:
# Task 2b: Replace cells with wrong format.

# Code to fix date format but dataset doesn't have date col.
# exercise_df_impute['Date'] = pd.to_datetime(exercise_df_impute['Date'])

In [24]:
# Task 2c: Replace unusually high or low data values.

for x in exercise_df.index:
  if exercise_df.loc[x, "Duration"] > 120:
    exercise_df.loc[x, "Duration"] = 120

In [27]:
# Task 2d: Remove duplicates.

exercise_df_impute = exercise_df[exercise_df.duplicated()]

In [28]:
# Task 2e: Calculate variance, covariance matrix

exercise_df_impute.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000  0.665013  0.544510  0.857233
Pulse     0.665013  1.000000  0.924527  0.927162
Maxpulse  0.544510  0.924527  1.000000  0.882832
Calories  0.857233  0.927162  0.882832  1.000000

### Task 3

Take a look at the example notebook. Make sure it will run correctly on your system. Run the code to scrape data from tables on a wiki page of your choice. Save as a .csv Then, use pandas to clean the data (if needed) and try find some interesting correlations.