### Task 1: Libraries
import libraries and read dataset

In [2]:
import pandas as pd

### Task 2: Load data
Read csv dataset

In [5]:
data = pd.read_csv('files/input_data/brazilian_amazon_fires_1999_2019.csv')
data.head()

   year  month        state   latitude  longitude  firespots
0  1999      1     AMAZONAS  -2.371113 -59.899933          3
1  1999      1     MARANHAO  -2.257395 -45.487831         36
2  1999      1  MATO GROSSO -12.660633 -55.057989         18
3  1999      1         PARA  -2.474820 -48.546967         87
4  1999      1     RONDONIA -12.861700 -60.513100          1

### Task 3: Summary
Display basic summary statistics and check for missing values

In [6]:
data.isnull().sum() # No missing values. Data is clean.

year         0
month        0
state        0
latitude     0
longitude    0
firespots    0
dtype: int64

In [7]:
# Summary statistics
data.describe()

              year        month     latitude    longitude     firespots
count  2104.000000  2104.000000  2104.000000  2104.000000   2104.000000
mean   2009.267110     6.704848    -5.439282   -56.510314   1167.417776
std       5.963029     3.431949     4.852439     7.382619   2959.558714
min    1999.000000     1.000000   -14.431908   -73.085000      1.000000
25%    2004.000000     4.000000    -9.946974   -62.376004     16.000000
50%    2009.000000     7.000000    -5.808292   -55.876480    121.000000
75%    2014.000000    10.000000    -2.595169   -50.396154    755.000000
max    2019.000000    12.000000     4.151000   -44.188000  37926.000000

### Task 4: Exploratory Data Analysis - Count of firespots by state

- Analyze the distribution of firespots across different states.